<html>
<head>
    <title>message board</title>
    <style type="text/css">
	body{font-family:"Microsoft Yahei";}
	h1{
    	text-align:center;
	}
	p{
	    text-align:center;
	}
	</style>
</head>

<body>
    <form action="/" method="post">
    	<h1>message board</h1>
    	<p><br>Username: <input type="text" name="username"> </br></p>
        <p><br>Message: <input type="text" name="message"> </br></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>